<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Importer.Properties.Settings>
            <setting name="ExcelPath" serializeAs="String">
                <value>brak</value>
            </setting>
            <setting name="HTMPath" serializeAs="String">
                <value>brak</value>
            </setting>
            <setting name="XLSPath" serializeAs="String">
                <value>\"C:\\Users\\Media\\Desktop\\"</value>
            </setting>
            <setting name="isExcelPathSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HTMPathAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XLSPathAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xlsFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="xlsFilenameAsk" serializeAs="String">
                <value>True</value>
            </setting>
        </Importer.Properties.Settings>
    </userSettings>
</configuration>
